body {
	font-family: sans-serif;
	background: #eee;
	padding-bottom: 50px;
}

textarea {
	background: yellow;
	width: 100%;
	height: 5em;
}

#textareas {
	margin-left: 20%;
	margin-right: 20%;
}

.error {
	background: red !important;
}
 
#cover {
	background: rgba(0, 0, 0, 0.8);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: fixed;
	display: none;
	z-index: 100;
}

#cover div {
	position: fixed;
	left: 50%;
	top: 50%;
	color: white;
	font-size: 300%;
	transform: translate(-50%, -50%);
}

#sourcePreview {
	max-width: 100%;
	max-height: 300px;
}

#output img, canvas {
	background: url(../img/alphagrid.png) top left repeat;
}

img.icon {
	width: 20%;
	margin: 5% 2% 2% -2%;
}

.settingsContainer > small {
	text-align: center;
	display: block;
	font-variant: small-caps;
}

label {
	font-variant: small-caps;
	cursor: pointer;
	display: block;
}

label [type=checkbox] {
	cursor: pointer;
	transform: scale(2);
}

label input, label select {
	margin-top: 10px;
}

.settingsContainer {
	margin: 5px;
	padding: 5px;
	padding-top: 20px;
	display: none;
}

#interface {
	position: absolute;
	left: 0;
	top: 0;
	width: 33%;
	overflow-x: hidden;
}

#output {
	position: absolute;
	right: 0;
	top: 0;
	width: 66%;
	padding: 1em;
	box-sizing: border-box;
}

#interface, #output {
	bottom: 50px;
	padding-bottom: 10em;
	overflow-y: scroll;
}

#basicSettings {
	display: block;
}

#commands {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50px;
	z-index: 10;
	text-align: center;
	border-top: 1px solid black;
	box-shadow: 0 -2px 2px #999;
	padding-top: 5px;
	background: #DDD;
	box-sizing: border-box;
}

#commands button {
	font-variant: capitalize;
	background-color: #AFA;
	padding: 5px;
	border-radius: 3px;
	font-size: 130%;
	border: 1px solid black;
	box-shadow: 2px 2px 2px #999;
	cursor: pointer;
	vertical-align: top;
}

#fileSelector {
	height: 80%;
	width: 50%;
	background: #FF0;
	border: 1px solid black;
	vertical-align: top;
}

.wrapper {
	padding: 10px;
	border: 1px solid black;
	vertical-align: top;
	margin: 3px;
	border-radius: 10px;
	box-sizing: border-box;
	background: #AFA;
	box-shadow: 2px 2px 2px #999;
}

.wrapper > *,
label input,
label select {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 120%;
}

.notices {
	color: #600;
	font-weight: bolder;
}

.sign {
	display: inline-block;
	width: 2em;
	height: 2em;
	margin: 0;
	box-sizing: border-box;
	text-align: center;
	border: 1px solid #990;
	background: #FF0;
}
.greendot {
	width: 5px;
	height: 10px;
	background: #0F0;
	border: 1px solid black;
	position: absolute;
	z-index: 10;
	margin-left: -2.5px;
	margin-top: -2.5px;
	box-shadow: 0 0 10px 5px rgba(255, 0, 255, 0.5);
	box-sizing: border-box;
}

.showhover {
	display: none;
}

#grid {
	background: url(../img/grid.png) top left repeat;
	background-size: 2em;
	padding-left: 16em;
	padding-top: 16em;
}

#placementPreview {
	min-width: 40em;
	position: relative;
}

#placementcontainer {
	position: fixed;
	right: 0;
	bottom: 50px;
	padding-bottom: 2em;
	padding-right: 2em;
	box-sizing: border-box;
	background: #afa;
	border: 1px solid #060;
	opacity: 0.5;
	transform-origin: bottom right;
	transform: scale(0.33, 0.33);
	box-shadow: 0 0 5px 5px #999;
}

#placementcontainer:hover {
	opacity: 1;
	transform: scale(1, 1);
}

#placementcontainer:hover .showhover {
	display: block;
}

#characters {
	font-size: 300%;
}
