body {
	font-family: sans-serif;
	background: #eee;
	padding-bottom: 50px;
}

canvas {
  image-rendering: optimizeSpeed; 
  image-rendering: -moz-crisp-edges; 
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges; 
  image-rendering: pixelated;    
  -ms-interpolation-mode: nearest-neighbor;
}

textarea {
	width: 100%;
	height: 20em;
	background: yellow;
}

.error {
	background: red !important;
	color: white;
}

th {
	text-align: right;
	padding-right: 1em;
	position: relative;
	max-width: 300px;
}

input[type=file] {
	background-color: yellow;
	height: 50px;
}

#sourcepreview {
	max-width: 400px;
	max-height: 400px;
}

#fileselector {
	width: 100%;
}

input, select {
	font-size: 120%;
	font-weight: bolder;
	text-align: center;
	width: 200px;
}

input[type=checkbox] {
	width: auto;
}

td, th {
	padding: 5px;
}

#char {
	font-size: 300%;
}

h3 {
	border-top: 1px solid #666;
	margin-top: 20px;
	padding-top: 10px;
}

h4 {
	text-align: center;
}

#execute {
	padding: 10px;
	position: fixed;
	left: 0;
	bottom: 0;
	background: #0E0;
	border: 2px solid #050;
}

small.hint {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	margin: 3px;
	margin-left: 10px;
	padding: 0;
	overflow: hidden;
	background: blue;
	color: white;
	position: absolute;
	border-radius: 1em;
	box-shadow: 2px 2px 2px #666;
}

small.hint:hover {
	overflow: auto;
	position: absolute;
	width: auto;
	height: auto;
	padding: 1em;
	max-width: 300px;
	z-index: 2;
}

small.hint:before {
	display: inline-block;
	text-align: center;
	width: 1.5em;
	height: 1.5em;
	content: "i";
	font-size: 200%;
	padding: 3px;
}

small.hint:hover:before {
	display: none;
}

label {
	cursor: pointer;
}

#settings, #output {
	width: 49%;
	display: inline-block;
	vertical-align: top;
	padding: 0;
	margin: 0;
}

#output {
	background: #AFA;
}

.recipe {
	width: 30%;
	float: left;
	margin: 10px;
	padding: 10px;
}

#cover {
	background: rgba(0, 0, 0, 0.8);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: fixed;
	display: none;
	z-index: 100;
}

#cover div {
	position: fixed;
	left: 50%;
	top: 50%;
	color: white;
	font-size: 300%;
	transform: translate(-50%, -50%);
}

img, canvas {
	background: url(../img/alphagrid.png) top left repeat;
}

.notices {
	color: #600;
	font-weight: bolder;
}

.sign {
	display: inline-block;
	width: 2em;
	height: 2em;
	margin: 0;
	box-sizing: border-box;
	text-align: center;
	border: 1px solid #990;
	background: #FF0;
}
.greendot {
	width: 5px;
	height: 10px;
	background: #0F0;
	border: 1px solid black;
	position: absolute;
	z-index: 10;
	margin-left: -2.5px;
	margin-top: -2.5px;
	box-shadow: 0 0 10px 5px rgba(255, 0, 255, 0.5);
	box-sizing: border-box;
}

.showhover {
	display: none;
}

#grid {
	background: url(../img/grid.png) top left repeat;
	background-size: 2em;
	padding-left: 16em;
	padding-top: 16em;
}

#placementpreview {
	min-width: 40em;
	position: relative;
}

#placementcontainer {
	position: fixed;
	right: 0;
	bottom: 0;
	padding-bottom: 2em;
	padding-right: 2em;
	box-sizing: border-box;
	background: #afa;
	border: 1px solid #060;
	opacity: 0.5;
	transform-origin: bottom right;
	transform: scale(0.5, 0.5);
}

#placementcontainer:hover {
	opacity: 1;
	transform: scale(1, 1);
}

#placementcontainer:hover .showhover {
	display: block;
}